<%- include('partials/head.ejs')%>
<title>Categorias | <%=categoria.nombre%></title>
<link rel="stylesheet" href="/css/stylesCategoria.css">
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
<body>
  
  <%- include('partials/header.ejs')%>

  <main class="categoria">
    <div class="imagen-banner-categoria"><img src="<%=categoria.imagen%>" width="100%"></div>
    <br>
    <h2><%=categoria.nombre%></h2>
    <br>
    <section class="productos">
      <%for (let i=0; i<filterProducts.length ; i++){%>
        <article class="producto">
          <a href="/productos/detalle/<%=filterProducts[i].id%>"><img src="<%=filterProducts[i].imagen%>" alt="<%=filterProducts[i].descripcion%>"></a>
          <br>
          <p class="precio">$<%=filterProducts[i].precio%></p>
          <br>
          <p class="modelo"><%=filterProducts[i].nombre%></p>
      </article>  
    <% } %>
    </section>
  </main>
 
  <%- include('partials/footer.ejs')%>

</body>