<%- include('partials/head.ejs')%>
<title> Home | Electro Hogar</title>
<link rel="stylesheet" href="/css/stylesHome.css">
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">

<body>
  <%- include('partials/header.ejs')%>
  <main>
    <div class="slider">
      <ul>
        <li><img src="/images/banner.jpg" alt="Banner" class="banner"></li>
        <li><img src="/images/banner2.jpg" alt="Banner" class="banner"></li>
      </ul> 
    </div>
    <div class="promo">
      <p>Paga en 3, 6 o 12 cuotas sin interés <br><i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   <i class="fab fa-cc-mastercard"></i></p>
      <p>Envios gratis a todo el país en compras superiores a $20.000 <br><i class="fas fa-plane-departure"></i></p>
      <p> Paga con tarjetas de Débito o crédito <br><i class="fas fa-credit-card"></i></p>
      <p>¿Tenés dudas? Contactanos <br> <i class="fab fa-whatsapp"></i></p>
    </div>
    <br>
    <h2 class="text1">Categorias</h2>
    <section class="categorias">
      <div class="aire">
        <a href="/categorias/1"><img src="/images/aire.png" alt="Aire Acondicionado"></a>
      </div>
      <div class="tele">
        <a href="/categorias/2"><img src="/images/televisor.png" alt="Televisores"></a>
      </div>
      <div class="horno">
        <a href="/categorias/3"><img src="/images/hornos.png" alt="Hornos"></a>
      </div>
      <div class="heladera">
        <a href="/categorias/4"><img src="/images/heladeras.png" alt="Heladeras"></a>
      </div>
      <div class="lavarropa">
        <a href="/categorias/5"><img src="/images/lavarropas.png" alt="Lavarropas"></a>
      </div>
    </section>
    <br>
    <br>
    <br>
    <h2 class="text">Ofertas</h2>
    <section class="venta">
      <%for (let i=0; i<productosOferta.length ; i++){%>
        <article class="producto">
         <a href="/productos/detalle/<%=productosOferta[i].id%>"><img src="<%=productosOferta[i].imagenes[0].nombre%>" alt="<%=productosOferta[i].categoria.nombre%>"></a>
         <p class="precio">$<%=productosOferta[i].precio%></p>
         <p class="modelo"><%=productosOferta[i].nombre%></p>
        </article>
        <% } %>
    </section>  
  </main>
  <br>
  <br>
  <%- include('partials/footer.ejs')%>
</body>