<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/stylesAgregarProducto.css">
<title>Crear producto</title>
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
<body>
 
    <%- include('../partials/header.ejs')%>
 
    <main class="create-registro">
        <h2 class="titulo">AGREGAR PRODUCTO</h2>
        <section class="create-form">
            <form action="/productos/agregar" method="POST" class="create" enctype="multipart/form-data">
                <div class="create-container">
                    <label for="nombre">Nombre de producto:</label>
                    <br>
                    <br>
                    <input class="input-create <%= locals.errors && errors.nombre ? 'is-invalid' : null %> " type="text" name="nombre" 
                    value="<%= locals.oldData && oldData.nombre %>">
                    <%if (locals.errors && errors.nombre){%>    
                        <div class="advertencia">
                            <%=errors.nombre.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="descripcion">Descripción de producto</label>
                    <br>
                    <br>
                    <textarea name="descripcion" class="description-create <%= locals.errors && errors.descripcion ? 'is-invalid' : null %>"
                        value="<%= locals.oldData && oldData.descripcion %>"></textarea></textarea>
                    <%if (locals.errors && errors.descripcion){%>
                        <div class="advertencia">
                            <%=errors.descripcion.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="stock">Stock</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.stock ? 'is-invalid' : null %>" type="number" 
                    name="stock"  value="<%= locals.oldData && oldData.stock %>"
                    >
                    <%if (locals.errors && errors.stock){%>
                        <div class="advertencia">
                            <%=errors.stock.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="imagen">Imagen</label>
                    <br>
                    <br>
                    <input name="imagen" class="input-create" type="file" multiple>
                    <%if (locals.errors && errors.imagen){%>
                        <div class="advertencia">
                            <%=errors.imagen.msg%>
                        </div>
                    <%}%> 
                    <br>
                    <br>
                    <label for="categoria">Categoría</label>
                    <br>
                    <br>
                    <select name="categoriaProd" 
                    class="input-create <%= locals.errors && errors.categoriaProd ? 'is-invalid' : null %>" style="
                    text-transform: uppercase;">
                    <option value="" >Categoría</option>
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"
                        <%= locals.oldData && (categoria.id == oldData.categoriaProd) ? 'selected' : null %>> 
                        <%= categoria.nombre%> </option>
                    <% }); %>
                    </select>
                    <%if (locals.errors && errors.categoriaProd){%>
                        <div class="advertencia">
                            <%=errors.categoriaProd.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="alto">Alto</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.alto ? 'is-invalid' : null %>" type="number" 
                    name="alto" step="0.01" placeholder="1" value="<%= locals.oldData && oldData.alto %>" >
                    <%if (locals.errors && errors.alto){%>
                        <div class="advertencia">
                            <%=errors.alto.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="ancho">Ancho</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.ancho ? 'is-invalid' : null %>" type="number" 
                    name="ancho" step="0.01" placeholder="1" value="<%= locals.oldData && oldData.ancho %>">
                    <%if (locals.errors && errors.ancho){%>
                        <div class="advertencia">
                            <%=errors.ancho.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <select name="color" 
                    class="input-create <%= locals.errors && errors.color ? 'is-invalid' : null %>" style="
                    text-transform: uppercase;">
                    <option value="">Color</option>
                    <% colores.forEach(color => {  %>
                        <option value="<%= color.id %>"
                        <%= locals.oldData && (color.id == oldData.color) ? 'selected' : null %>>
                        <%= color.nombre%> </option>
                   <% }); %>
                    </select>
                    <%if(locals.errors && errors.color){%>
                        <div class="advertencia">
                            <%=errors.color.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="garantia">Garantía</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.garantia ? 'is-invalid' : null %>" type="number" 
                    name="garantia" placeholder="12" value="<%= locals.oldData && oldData.garantia %>">
                    <%if (locals.errors && errors.garantia){%>
                        <div class="advertencia">
                            <%=errors.garantia.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="modelo">Modelo</label>
                    <br>
                    <br>
                    <input class="input-create <%= locals.errors && errors.modelo ? 'is-invalid' : null %>" type="text" 
                    name="modelo" value="<%= locals.oldData && oldData.modelo %>">
                    <%if (locals.errors && errors.modelo){%>
                        <div class="advertencia">
                            <%=errors.modelo.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="origen">Origen</label>
                    <br>
                    <br>
                    <input class="input-create <%= locals.errors && errors.origen ? 'is-invalid' : null %>" type="text" 
                    name="origen" value="<%= locals.oldData && oldData.origen %>">
                    <%if (locals.errors && errors.origen){%>
                        <div class="advertencia">
                            <%=errors.origen.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="peso">Peso</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.peso ? 'is-invalid' : null %>" type="number" 
                    name="peso" step="0.01" placeholder="1" value="<%= locals.oldData && oldData.peso %>">
                    <%if (locals.errors && errors.peso){%>
                        <div class="advertencia">
                            <%=errors.peso.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="profundidad">Profundidad</label>
                    <br>
                    <br>
                    <input class="input-create-precio <%= locals.errors && errors.profundidad ? 'is-invalid' : null %>" type="number" 
                    name="profundidad" step="0.01" placeholder="1" value="<%= locals.oldData && oldData.profundidad %>">
                    <%if (locals.errors && errors.profundidad){%>
                        <div class="advertencia">
                            <%=errors.profundidad.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <label for="precio">Precio</label>
                    <br>
                    <br>
                    <input class= "input-create-precio <%= locals.errors && errors.precio ? 'is-invalid' : null %>" type="number" 
                    name="precio" placeholder="$50.000" value="<%= locals.oldData && oldData.precio %>">
                    <%if (locals.errors && errors.precio){%>
                        <div class="advertencia">
                            <%=errors.precio.msg%>
                        </div>
                    <%}%>
                    <br>
                    <br>
                    <div class="input-container">
                        <label for="rings">¿De oferta?</label>
                        <div class="<%= (locals.errors && errors.oferta) ? 'input-error' : '' %>">
                            <input type="radio" name="oferta" id="oferta" value="si" <%= (locals.oldValues && oldValues.oferta === 'si') ? 'checked' : '' %>/>Si
                            <input type="radio" name="oferta" id="oferta" value="no" <%= (locals.oldValues && oldValues.oferta === 'no') ? 'checked' : '' %> />No
                            <%if (locals.errors && errors.oferta){%>
                                <div class="advertencia">
                                    <%=errors.oferta.msg%>
                                </div>
                            <%}%>
                         </div>
                     </div>
                <br>
                <div class="button-container">
                    <button class="create-button" type="submit">Agregar producto</button>
                    <button class="create-button" type="reset">Borrar</button>
                    </div>
            </form>
        </section>
        <br>
        <br>
    </main>

    <%- include('../partials/footer.ejs')%>

</body> 