<%- include('../partials/head.ejs')%>
<title>Home | Electro Hogar</title>
<link rel="stylesheet" href="/css/stylesDetalleProducto.css">
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
<body>
  
  <%- include('../partials/header.ejs')%>

  <div class='container-article'>
<article class='article'>
  <div class='article-main'>
  <div class='article-title'>
    <h1><%=productoEncontrado.nombre%></h1> 
  </div>
  <div class='article-top'>
    <div class="dots-flex">
      <div class='article-top-right'> 
          <p class="arrow arrow-left"><i class="fas fa-chevron-left"></i></p>
          <ul>
            <% for( let i = 0; i < productoEncontrado.imagenes.length; i++ ) { %>
              <li class="imagenes-producto"><img src="<%=productoEncontrado.imagenes[i].nombre%>" alt="<%=productoEncontrado.nombre%>"></li>
            <% } %>
          </ul>
          <p class="arrow arrow-right"><i class="fas fa-chevron-right"></i></p>
          
      </div>
      <ul class="dots-list">
        <% for( let i = 0; i < productoEncontrado.imagenes.length; i++ ) { %>
          <li class="dots"></li>
        <% } %>
      </ul>
    </div>
    <div class='article-top-left'> 
      <div class='box-condiciones-pago'>
        <div class='box-precio'>
          <span class='precio-contado'><strong>Precio:</strong></span>
          <span class='precio-contado'>$<%=productoEncontrado.precio%></span>
        </div>
        <div class='box-tarjetas'> 
          <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/5ca9b33896079f3d56ac0a01038d568a.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $<%=Math.round((productoEncontrado.precio)/12)%></i>
            </div>
          </div>
          <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/d91d7904a85783a86377e30feb87e7ff.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $<%=Math.round(((productoEncontrado.precio)/12))%></i>
            </div>
          </div>
           <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/4ccbd7df1af0344289b45659aab25bbd.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $<%=Math.round((productoEncontrado.precio)/12)%></i>
            </div>
          </div>
        </div>
        <div class='box-comprar'>
          <form action="/carritoCompras">
            <input type="submit" value="Comprar" class='comprar-button' />
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class='article-bottom'>
    <div class='article-descripcion'>
      <div class='descripcion-title'>
        <h3>Descripción del producto</h3>
      </div>
      <div class='descripcion-text'>
        <p><%=productoEncontrado.descripcion%></p>
      </div>
    </div>
    <div class='article-table'>
      <div class='table-title'>
        <h3>Especificaciones técnicas</h3>
      </div>
      <div class='table'>
        <table class='table-specifications'>
          <tbody>
          <tr>
            <td class='product-specification'>Alto:</td>
            <td class="specification-value"><%=productoEncontrado.alto%></td>
          </tr>
          <tr>
            <td class='product-specification'>Color:</td>
            <td class="specification-value"><%=productoEncontrado.color.nombre%></td>
          </tr>
          <tr>
            <td class='product-specification'>Garantía:</td>
            <td class="specification-value"><%=productoEncontrado.garantia%></td>
          </tr>
          <tr>
            <td class='product-specification'>Modelo:</td>
            <td class="specification-value"><%=productoEncontrado.modelo%></td>
          </tr>
          <tr>
            <td class='product-specification'>Origen:</td>
            <td class="specification-value"><%=productoEncontrado.origen%></td>
          </tr>  
          <tr>
            <td class='product-specification'>Peso:</td>
            <td class="specification-value"><%=productoEncontrado.peso%></td>
          </tr>      
          <tr>
            <td class='product-specification'>Profundidad:</td>
            <td class="specification-value"><%=productoEncontrado.profundidad%></td>
          </tr>                
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
</div>
  
<%- include('../partials/footer.ejs')%>
<script src="/js/slider.js"></script>
</body>
