<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/stylesEditarProducto.css">
<title>Editar producto</title>
</head>
<body>

    <%- include('../partials/header.ejs')%>

    <main class="create-registro">
        <h2 class="titulo">EDITAR PRODUCTO</h2>
        <section class="create-form">
            <form action='/productos/<%= productoEncontrado.id %>/editar?_method=PUT' method="POST" class="create">
                <div class="create-container">
                    <label>Producto</label>
                    <br>
                    <img src="<%=productoEncontrado.imagen%>" alt="<%=productoEncontrado.descripcion%>">
                    <br>
                    <br>
                    <br>
                    <label for="nombre" class="label">Editar nombre</label>
                    <br>
                    <input type="name" class="input-create" name="name" value="<%= productoEncontrado.nombre %>">
                    <br> 
                    <br>   
                    <br>
                    <label for="descripcion" class="label">Editar descripcion de producto</label>
                    <br>
                    <textarea name="descripcion" class="description-create" value="<%= productoEncontrado.descripcion %>"></textarea>
                    <br>
                    <br>
                    <br>
                    <label for="stock" class="label">Stock</label>
                    <br>
                    <input for="stock" class="input-create-precio" type="number" name="stock" value="<%= productoEncontrado.stock %>">
                    <br>
                    <br>
                    <br>
                    <label for="imagenes" class="label">Editar imagenes</label>
                    <br>
                    <input for="imagen" class="input-create" type="file" name="photo" accept="jpg,jpeg" multiple>
                    <br>
                    <br>
                    <br>
                    <label for="categorias" class="label">Categoría</label>
                    <br>
                    <select name="categoria" class="input-create">
                        <option value="<%= productoEncontrado.categoria %>"><%= productoEncontrado.categoria %></option>
                        <option value="televisores">Televisores</option>
                        <option value="aires">Aires Acondicionados</option>
                        <option value="lavarropas">Lavarropas</option>
                        <option value="hornos">Hornos</option>
                        <option value="heladeras">Heladeras</option>
                    </select>
                    <br>
                    <br>
                    <br>
                    <label for="precio" class="label">Precio</label>
                    <br>
                    <input for="precio" class= "input-create-precio" type="number" name="price" placeholder="$50.000" value="<%= productoEncontrado.precio %>">
                </div>
                <br>
                <br>
                <div class="button-container">
                    <button class="create-button" type="submit">Guardar cambios</button>
                    <button class="create-button" type="reset">Resetear</button>
                    </div>
            </form>
        </section>
        <br>
        <br>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>