  
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/stylesEditarProducto.css">
<title>Editar producto</title>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
</head>
<body>

    <%- include('../partials/header.ejs')%>
 
    <main class="create-registro">
        <h2 class="titulo">EDITAR PRODUCTO</h2>
        <section class="create-form">
            <form action='/productos/<%= productoEncontrado.id %>/editar?_method=PUT' method="POST" class="create" enctype="multipart/form-data"> 
                <div class="create-container">
                    <label>Producto</label>
                    <br>
                    <img src="<%=productoEncontrado.imagen%>" alt="<%=productoEncontrado.descripcion%>" width="300px">
                    <br>
                    <br>
                    <br> 
                    <label for="nombre" class="label">Editar nombre</label>
                    <br>
                    <input type="name" class="input-create" name="nombre" value="<%= productoEncontrado.nombre %>">
                    <br> 
                    <br>   
                    <br>
                    <label for="descripcion" class="label">Editar descripcion de producto</label>
                    <br>
                    <textarea name="descripcion" class="description-create"><%= productoEncontrado.descripcion %></textarea>
                    <br>
                    <br>
                    <br>
                    <label for="stock" class="label">Stock</label>
                    <br>
                    <input for="stock" class="input-create-precio" type="number" name="stock" value="<%= productoEncontrado.stock %>">
                    <br>
                    <br>
                    <br>
                    <label for="imagen" class="label">Editar imagenes</label>
                    <br>
                    <input name="imagen" class="input-create" type="file" accept="jpg,jpeg" >
                    <br>
                    <br>
                    <br>
                    <label for="categoriaProd" class="label">Categoría</label>
                    <br>
                    <select 
                    name="categoriaProd" 
                    class="input-create" style="
                    text-transform: uppercase;"
                    >
                    <option value="">Categoría</option>
                    <%  
                        let seleccionarCategoria = ['televisores','aires','hornos','heladeras','lavarropas'];
                    %>
                    <% for (const unaCategoria of seleccionarCategoria) { %>
                        <option 
                            value="<%= unaCategoria %>"
                            <%= productoEncontrado.categoriaProd && (unaCategoria === productoEncontrado.categoriaProd) ? 'selected' : null %> 
                        > <%= unaCategoria%> </option>
                    <% } %>
                    </select>
                    <label for="alto">Alto</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="text" name="alto" value="<%= productoEncontrado.alto %>">
                    <br>
                    <br>
                    <label for="ancho">Ancho</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="text" name="ancho" value="<%= productoEncontrado.ancho %>">
                    <br>
                    <br>
                    <label for="color">Color</label>
                    <br>
                    <br>
                    <input class="input-create" type="text" name="color" value="<%= productoEncontrado.color %>">
                    <br>
                    <br>
                    <label for="garantia">Garantía</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="text" name="garantia" value="<%= productoEncontrado.garantia %>">
                    <br>
                    <br>
                    <label for="modelo">Modelo</label>
                    <br>
                    <br>
                    <input class="input-create" type="text" name="modelo" value="<%= productoEncontrado.modelo %>">
                    <br>
                    <br>
                    <label for="origen">Origen</label>
                    <br>
                    <br>
                    <input class="input-create" type="text" name="origen" value="<%= productoEncontrado.origen %>">
                    <br>
                    <br>
                    <label for="peso">Peso</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="text" name="peso" value="<%= productoEncontrado.peso%>">
                    <br>
                    <br>
                    <label for="profundidad">Profundidad</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="text" name="profundidad" value="<%= productoEncontrado.profundidad %>">
                    <br>
                    <br>
                    <br>
                    <label for="precio" class="label">Precio</label>
                    <br>
                    <input for="precio" class= "input-create-precio" type="text" name="precio" placeholder="$50.000" value="<%= productoEncontrado.precio %>">
                    <br>
                    <br>
                    <label for="oferta" class="input-create">¿En oferta?</label>
                    <br>
                    <input type="radio" name="oferta" id="oferta" value="si"<%= productoEncontrado.oferta == 'si' ? 'checked' : '' %>  /> Si
                    <input type="radio" name="oferta" id="oferta" value="no"<%= productoEncontrado.oferta == 'no' ? 'checked' : '' %>  /> No
                </div>
                <br>
                <br>
                <div class="button-container">
                    <button class="create-button" type="submit">Guardar cambios</button>
                    <button class="create-button" type="reset">Resetear</button>
                    </div>
            </form>
        </section>
        <br>
        <br>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>