<%- include('../partials/head.ejs')%>
<title>Productos | Electro Hogar</title>
<link rel="stylesheet" href="/css/stylesListadoProducto.css">
</head>

<body>
  <%- include('../partials/header.ejs')%> 
  <div class="padding-top">
  </div>
 <main class="listadoProductos">
    <h2 class="text">Productos</h2>
    <a href="/productos/agregar"><button class="button-agregar">Agregar productos</button></a>
    <section class="venta">
     <%for (let i=0; i<productos.length ; i++){%>
      <article class="producto">
        <a href="/productos/detalleProducto"><img src="<%=productos[i].imagen%>" alt="<%=productos[i].descripcion%>"></a>
        <br>
        <p class="precio">$<%=productos[i].precio%></p>
        <br>
        <p class="modelo"><%=productos[i].nombre%></p>
        <br>
        <p class="modelo"><%=productos[i].descripcion%></p>
        <br>
        <p class="modelo">Categoria: <%=productos[i].categoria%></p>
        <br>
        <p class="modelo">En stock: <%=productos[i].stock%></p>
        <br>
        <div class="buttons">
        <form action="/productos/<%=productos[i].id%>?_method=DELETE"  method="POST">
          <button class="button" id="button" type="submit">Eliminar</button>
        </form>     
        <a href='/productos/<%=productos[i].id%>/editar'><button class="button" id="button">Modificar</button></a>    
        <br>
        <br>
        </div>
      </article>
      <%}%>
    </section>  
</main>
  <br>
  <br>
  <%- include('../partials/footer.ejs')%>
</body>