<%- include('../partials/head.ejs')%>
<title>Productos | Electro Hogar</title>
<link rel="stylesheet" href="/css/stylesHome.css">
</head>

<body>
  <%- include('../partials/header.ejs')%> 
  <div class="padding-top">
  </div>
 <main class="listadoProductos">
    <h2 class="text">Productos</h2>
    <section class="venta">
     <%for (let i=0; i<productosLista.length ; i++){%>
      <article class="producto">
        <a href="/productos/detalleProducto"><img src="<%=productosLista[i].imagen%>" alt="<%=productosLista[i].descripcion%>"></a>
        <p class="precio"><%=productosLista[i].precio%></p>
        <p class="modelo"><%=productosLista[i].nombre%> </p>
        <p class="modelo">En stock: <%=productosLista[i].stock%> </p>
      </article>
      <%}%>
    </section>  
</main>
  <br>
  <br>
  <%- include('../partials/footer.ejs')%>
</body>