<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/stylesPassword.css">
<title>Editar usuario</title>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
</head>
<body>

    <%- include('../partials/header.ejs')%>
 
    <main class="create-registro"> 
        <h2 class="titulo">MODIFICAR CONTRASEÑA</h2> 
        <section class="create-form">
            <form action='/users/modificarpassword/<%= usuarioEncontrado.id %>' method="POST" class="create"> 
                <div class="create-container">
                    <label for="passwordAEditar" class="label">Contraseña actual</label>
                    <br>
                    <input type="password" for="password" class="input-create <%= locals.errors && errors.password ? 'is-invalid' : null%>" name="passwordAEditar">
                    <br>
                    <br>
                    <label for="passwordEditado" class="label">Contraseña nueva</label>
                    <br> 
                    <input type="password" class="input-create <%= locals.errors && errors.password ? 'is-invalid' : null%>" name="passwordEditado">
                    <br>
                    <br>
                    <label for="passwordEditado2" class="label">Repita la contraseña nueva</label>
                    <br>
                    <input type="password" class="input-create <%= locals.errors && errors.password ? 'is-invalid' : null%>" name="passwordEditado2" >
                    <br>
                <div class="button-container">
                    <button class="create-button" type="submit">Guardar cambios</button>
                    <button class="create-button" type="reset">Resetear</button>
                </div>
            </form>
        </section> 
        <br>
        <br>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>