<%- include('../partials/head.ejs')%>
<title>Perfil | Electro Hogar</title>
<link rel="stylesheet" href="/css/stylesPerfil.css">
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
<body>
  <%- include('../partials/header.ejs')%> 
 <main class="perfilUsuario">
    <h2 class="text">Perfil de <%=usuarioEncontrado.nombre%></h2>
    <section class="perfil">
      <article class="usuario">
        <img src="<%=usuarioEncontrado.imagen%>" alt="<%=usuarioEncontrado.nombre%>" width="200px">
        <br>
        <br>
        <p class="modelo">ID:<%=usuarioEncontrado.id%></p>
        <br>
        <p class="modelo">Nombre: <%=usuarioEncontrado.nombre%></p> 
        <br>
        <p class="modelo">Apellido: <%=usuarioEncontrado.apellido%></p>
        <br>
        <p class="modelo">Email: <%=usuarioEncontrado.email%></p>
        <br> 
        <div class="buttons">
          <a href='/users/<%=usuarioEncontrado.id%>/editar'><button class="button" id="button">Editar</button></a>         
          <form action="/users/<%=usuarioEncontrado.id%>?_method=DELETE"  method="POST">
            <button class="button" id="button" type="submit">Eliminar</button>
          </form>
        <br>
        <br> 
        </div>
      </article>
    </section>  
</main>
  <br>
  <br>
  <%- include('../partials/footer.ejs')%>
</body>